
# WIDGET.TESTS

![Generic badge](https://img.shields.io/badge/60/60-FAILED-red.svg)
<details>
  <summary>Duration: 1.369 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:40.403 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-02-21 23:08:41.690 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-02-21 23:08:41.690 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-02-21 23:08:41.772 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>1.369 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Failed | Total Tests: 60 | Passed: 0 | Failed: 60</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>60</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>60</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>60</td>
    </tr>
  </table>
</details>
<details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 6, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 6, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.671 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.671 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004320</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 18, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 18, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0003919</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 9, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 9, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.672 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.672 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0005211</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 44, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 44, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.673 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.673 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004800</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 37, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 37, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.677 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.677 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004009</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 13, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 13, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.665 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.665 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004249</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 33, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 33, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.672 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.672 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004436</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 59, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 59, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0003969</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 1, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 1, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.676 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.676 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004055</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 24, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 24, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.666 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.666 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004035</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 23, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 23, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.643 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.643 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0005674</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 50, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 50, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.644 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.644 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0005328</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 21, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 21, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.672 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.672 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0005708</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 53, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 53, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.676 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.676 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004000</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 36, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 36, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.643 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.643 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0008248</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 35, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 35, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.671 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.671 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004207</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 31, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 31, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.676 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.676 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0003913</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 2, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 2, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.677 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.677 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004156</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 34, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 34, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.665 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.665 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0005662</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 38, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 38, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.666 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.666 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004281</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 28, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 28, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.644 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.644 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0005525</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 15, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 15, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.673 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.673 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004372</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 60, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 60, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.669 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.669 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004117</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 56, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 56, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.669 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.669 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004246</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 51, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 51, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.674 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.674 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004008</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 29, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 29, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.673 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.673 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004317</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 5, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 5, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.665 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.665 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004589</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 30, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 30, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.676 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.676 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0003963</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 16, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 16, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.672 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.672 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0005986</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 57, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 57, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.673 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.673 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004210</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 54, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 54, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.643 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.643 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0005498</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 42, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 42, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.666 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.666 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004247</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 45, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 45, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.673 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.673 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004306</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 39, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 39, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.665 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.665 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004284</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 3, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 3, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004097</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 4, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 4, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.674 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.674 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0003952</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 12, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 12, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004083</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 40, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 40, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.644 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.644 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004972</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 55, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 55, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.640 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.640 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0378879</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 48, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 48, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.672 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.672 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004608</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 26, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 26, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.668 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.668 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004038</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 49, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 49, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.671 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.671 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004571</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 32, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 32, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.670 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.670 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004580</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 27, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 27, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.669 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.669 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0003987</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 25, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 25, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.671 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.671 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004285</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 14, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 14, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.665 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.665 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004417</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 10, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 10, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.670 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.670 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004336</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 7, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 7, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.674 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.674 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0003953</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 11, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 11, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.670 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.670 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004401</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 43, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 43, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.674 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.674 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004232</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 20, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 20, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.669 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.669 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004444</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 58, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 58, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004136</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 17, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 17, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.644 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.644 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004922</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 22, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 22, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.669 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.669 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004338</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 8, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 8, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.643 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.643 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0005692</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 41, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 41, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.664 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.664 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0161781</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 47, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 47, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.675 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0003958</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 46, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 46, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.671 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.671 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004323</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 52, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 52, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.674 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.674 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004194</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details><details>
  <summary>:x: Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 19, expectedValue: 1)</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Widget.Tests.MathTests.AddShouldReturnCorrectValue(number1: 1, number2: 19, expectedValue: 1)</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 23:08:41.670 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 23:08:41.670 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0004627</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Widget.Tests.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Widget.Tests.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>AddShouldReturnCorrectValue</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details>