
# IGNORE.FAILURES

![Generic badge](https://img.shields.io/badge/1/2-FAILED-red.svg)
<details>
  <summary>Duration: 0.805 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 20:43:45.719 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-02-21 20:43:46.514 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-02-21 20:43:46.514 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-02-21 20:43:46.524 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>0.805 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Failed | Total Tests: 2 | Passed: 1 | Failed: 1</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>1</td>
    </tr>
  </table>
</details>
<details>
  <summary>:x: Ignore.Failures.MathTests.OnePlusOneShouldNotEqualFive</summary>
  <table>
    <tr>
      <th>Name:</th>
      <td><code>Ignore.Failures.MathTests.OnePlusOneShouldNotEqualFive</code></td>
    </tr>
    <tr>
      <th>Outcome:</th>
      <td><code>Failed</code></td>
    </tr>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-21 20:43:46.384 UTC</code></td>
    </tr>
    <tr>
      <th>End:</th>
      <td><code>2024-02-21 20:43:46.384 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>00:00:00.0065475</code></td>
    </tr>
    <tr>
      <th>Code Base</th>
      <td><code>C:\code\widget\bin\Release\net6.0\Ignore.Failures.dll</code></td>
    </tr>
    <tr>
      <th>Class Name</th>
      <td><code>Ignore.Failures.MathTests</code></td>
    </tr>
    <tr>
      <th>Method Name</th>
      <td><code>OnePlusOneShouldNotEqualFive</code></td>
    </tr>
<tr>
  <th>Error Message:</th>
  <td><pre>Message</pre></td>
</tr>
<tr>
  <th>Stack Trace:</th>
  <td><pre>StackTrace</pre></td>
</tr>
  </table>
</details>