
# NOT FOUND

![Generic badge](https://img.shields.io/badge/0/0-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 1.207 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-20 16:41:32.844 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-02-20 16:41:34.047 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-02-20 16:41:34.047 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-02-20 16:41:34.051 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>1.207 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 0 | Passed: 0 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>
<details>
  <summary>:grey_question: undefined</summary>
  <table>
    <tr>
      <th>Run Info</th>
      <td><code>Text</code></td>
    </tr>
  </table>
</details>
