
# WIDGET.TESTS

![Generic badge](https://img.shields.io/badge/1/1-PASSED-brightgreen.svg)
<details>
  <summary>Duration: 0.641 seconds</summary>
  <table>
    <tr>
      <th>Start:</th>
      <td><code>2024-02-20 19:39:53.823 UTC</code></td>
    </tr>
    <tr>
      <th>Creation:</th>
      <td><code>2024-02-20 19:39:54.459 UTC</code></td>
    </tr>
    <tr>
      <th>Queuing:</th>
      <td><code>2024-02-20 19:39:54.459 UTC</code></td>
    </tr>
    <tr>
      <th>Finish:</th>
      <td><code>2024-02-20 19:39:54.464 UTC</code></td>
    </tr>
    <tr>
      <th>Duration:</th>
      <td><code>0.641 seconds</code></td>
    </tr>
  </table>
</details>
<details>
  <summary>Outcome: Completed | Total Tests: 1 | Passed: 1 | Failed: 0</summary>
  <table>
    <tr>
      <th>Total:</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Executed:</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Passed:</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Failed:</th>
      <td>0</td>
    </tr>
  </table>
</details>
